<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img width="100" height="100" src="{{ `images/tasklogo.png` | relURL }}">
        <h2 class="h2">Task planning <small class="d-none">🛡️</small></h2>
        <p>Create and keep track of your own productivity tasks and goals.</p>
    </div>
    <div class="col-lg-4">
        <img width="100" height="100" src="{{ `images/farmicon.png` | relURL }}">
        <h2 class="h2">Farm customization <small class="d-none">🚀</small></h2>
        <p>Grow plants and customize your farm as you complete tasks to motivate yourself.</p>
    </div>
    <div class="col-lg-4">
        <img width="100" height="100" src="{{ `images/analyticslogo2.png` | relURL }}">
        <h2 class="h2">Personal analytics <small class="d-none">📈</small></h2>
        <p>See real data on your tasks and goals to improve your productivity.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Sync <small class="d-none">🦉</small></h2>
        <p>Sync your tasks with other productivity and organization apps like Google Calendar and Trello.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Community <small class="d-none">✨</small></h2>
        <p>Meet other productivity users and farm together while working on your goals.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Real-world impact <small class="d-none">🧰</small></h2>
        <p>Help causes you care with our nonprofit partners by contributing every time you meet a goal.</p>
    </div>
</div>
